<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projeto_ecommerce_supermercado</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>cadastro.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>AlteraCadastroController</display-name>
    <servlet-name>AlteraCadastroController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.AlteraCadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraCadastroController</servlet-name>
    <url-pattern>/AlteraCadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmazenaItensController</display-name>
    <servlet-name>ArmazenaItensController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ArmazenaItensController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmazenaItensController</servlet-name>
    <url-pattern>/ArmazenaItensController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaCatalogoController</display-name>
    <servlet-name>BuscaCatalogoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.BuscaCatalogoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaCatalogoController</servlet-name>
    <url-pattern>/BuscaCatalogoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaProdutosController</display-name>
    <servlet-name>BuscaProdutosController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.BuscaProdutosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaProdutosController</servlet-name>
    <url-pattern>/BuscaProdutosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraOfertaController</display-name>
    <servlet-name>CadastraOfertaController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.CadastraOfertaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraOfertaController</servlet-name>
    <url-pattern>/CadastraOfertaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroController</display-name>
    <servlet-name>CadastroController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.CadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroController</servlet-name>
    <url-pattern>/CadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoController</display-name>
    <servlet-name>CarrinhoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.CarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoController</servlet-name>
    <url-pattern>/CarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogoController</display-name>
    <servlet-name>CatalogoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.CatalogoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogoController</servlet-name>
    <url-pattern>/CatalogoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItemController</display-name>
    <servlet-name>DeleteItemController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.DeleteItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemController</servlet-name>
    <url-pattern>/DeleteItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteListaController</display-name>
    <servlet-name>DeleteListaController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.DeleteListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteListaController</servlet-name>
    <url-pattern>/DeleteListaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroiSessaoController</display-name>
    <servlet-name>DestroiSessaoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.DestroiSessaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroiSessaoController</servlet-name>
    <url-pattern>/DestroiSessaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EquiparativoController</display-name>
    <servlet-name>EquiparativoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.EquiparativoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquiparativoController</servlet-name>
    <url-pattern>/EquiparativoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioController</display-name>
    <servlet-name>FormularioController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.FormularioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioController</servlet-name>
    <url-pattern>/FormularioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemCController</display-name>
    <servlet-name>ItemCController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ItemCController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemCController</servlet-name>
    <url-pattern>/ItemCController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemLController</display-name>
    <servlet-name>ItemLController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ItemLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemLController</servlet-name>
    <url-pattern>/ItemLController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaAltCadastroController</display-name>
    <servlet-name>ListaAltCadastroController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ListaAltCadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaAltCadastroController</servlet-name>
    <url-pattern>/ListaAltCadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCarrinhoController</display-name>
    <servlet-name>ListaCarrinhoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ListaCarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCarrinhoController</servlet-name>
    <url-pattern>/ListaCarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaComprasController</display-name>
    <servlet-name>ListaComprasController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ListaComprasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaComprasController</servlet-name>
    <url-pattern>/ListaComprasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaEnderecoController</display-name>
    <servlet-name>ListaEnderecoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ListaEnderecoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaEnderecoController</servlet-name>
    <url-pattern>/ListaEnderecoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaEquiparativoController</display-name>
    <servlet-name>ListaEquiparativoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ListaEquiparativoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaEquiparativoController</servlet-name>
    <url-pattern>/ListaEquiparativoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfertaCalculoController</display-name>
    <servlet-name>OfertaCalculoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.OfertaCalculoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfertaCalculoController</servlet-name>
    <url-pattern>/OfertaCalculoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfertaController</display-name>
    <servlet-name>OfertaController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.OfertaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfertaController</servlet-name>
    <url-pattern>/OfertaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermEquiparativoController</display-name>
    <servlet-name>PermEquiparativoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.PermEquiparativoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermEquiparativoController</servlet-name>
    <url-pattern>/PermEquiparativoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissaoController</display-name>
    <servlet-name>PermissaoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.PermissaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissaoController</servlet-name>
    <url-pattern>/PermissaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenciaController</display-name>
    <servlet-name>PersistenciaController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.PersistenciaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenciaController</servlet-name>
    <url-pattern>/PersistenciaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaOfertasController</display-name>
    <servlet-name>BuscaOfertasController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.BuscaOfertasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaOfertasController</servlet-name>
    <url-pattern>/BuscaOfertasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteListaContoller</display-name>
    <servlet-name>DeleteListaContoller</servlet-name>
    <servlet-class>br.ecom.projeto.controller.DeleteListaContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteListaContoller</servlet-name>
    <url-pattern>/DeleteListaContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverItemCController</display-name>
    <servlet-name>RemoverItemCController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.RemoverItemCController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverItemCController</servlet-name>
    <url-pattern>/RemoverItemCController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverListaController</display-name>
    <servlet-name>RemoverListaController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.RemoverListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverListaController</servlet-name>
    <url-pattern>/RemoverListaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverListaCarrinhoController</display-name>
    <servlet-name>RemoverListaCarrinhoController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.RemoverListaCarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverListaCarrinhoController</servlet-name>
    <url-pattern>/RemoverListaCarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraController</display-name>
    <servlet-name>CompraController</servlet-name>
    <servlet-class>br.ecom.projeto.controller.CompraController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraController</servlet-name>
    <url-pattern>/CompraController</url-pattern>
  </servlet-mapping>
</web-app>